 <!DOCTYPE html>
 <html>
 <head>
   <title>MyShop</title>
   <%= stylesheet_link_tag "application", media: "all",
     "data-turbolinks-track" => true %>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<a id="banner" href="/">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Mihan ShoP" %>
	</a>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="">FaQ</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Contacts</a></li><br>
				<hr style=" 
					color: white;
				">
				<li><a href="/products">Edit products</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
 </body>
 </html>
